<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>
    <script src="http://libs.useso.com/js/angular.js/1.2.5/angular.min.js"></script>
    <script src="http://libs.useso.com/js/angular.js/1.2.5/angular-route.min.js"></script>
    <script src="/static/js/app.js"></script>
    <script src="/static/js/DemoController.js"></script>
    <script src="/static/js/BasicController.js"></script>
    <script src="/static/js/DirectiveController.js"></script>
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.2.0/css/bootstrap.min.css">

</head>
<body>
{% verbatim %}
<div class="container" ng-app="MyModel">
    <a href="#/basic"> basic</a>
    <a href="#/directive"> directive</a>
    <div ng-view>
    </div>
</div>
{% endverbatim %}
</body>
</html>
